@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

    <ul class="navbar-nav">
        @if ((bool)TempData.Peek("Login")) 
        {
            <li class="nav-item">
                <a class="nav-link text-dark">Salutations!</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Profile">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-action="Logout" asp-controller="Home">Logout</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-action="Register" asp-controller="Home">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-action="Login" asp-controller="Home">Login</a>
            </li>
        }
    </ul>
