@using Microsoft.AspNetCore.Http
@using System.Text.Json
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@model ShopDBContext

@{
    ViewData["Title"] = "Order History";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Client tempUser = JsonSerializer.Deserialize<Client>(HttpContextAccessor.HttpContext.Session.GetString("user"));
    List<Orders> orderHistory = JsonSerializer.Deserialize<List<Orders>>(HttpContextAccessor.HttpContext.Session.GetString("orders"));
}

<h1><i>History</i></h1>
<table style="width: 75%;" align:center>
    @foreach (var order in orderHistory)
    {
        foreach (var item in Model.Inventory)
        {
            if (item.ProductId == order.ItemId)
            {
                <tr>
                    <td>
                        @order.OrderId
                    </td>
                    <td>
                        @item.ProductName
                    </td>
                    <td>
                        <b>Order Total: $@String.Format("{0:0.00}", item.UnitPrice)</b>
                    </td>
                </tr>
            }
        }
    }
</table>


