@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">
            Welcome to the<br />
            Grand Circus<br />
            Coffee Shop!
        </h1><br /><br />
        <p>You can <a asp-action="Register">register here</a> to purchase products.</p>
        <p>You can <a asp-action="Login">click here</a> to log in.</p>
        <img src="https://i.pinimg.com/originals/2a/84/90/2a849069c7f487f71bb6594dffb84e5e.png" alt="Alternate Text" width="50" height="50" />
    </div>