
@{
    ViewData["Title"] = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Order</h1>
<form action="Review">
    <input type="checkbox" name="light" option value="light" /> <label for="light"> Light Roast 12oz.</label><br />
    <input type="checkbox" name="lightbig" option value="lightbig" /> <label for="lightbig"> Light Roast 27oz.</label><br />
    <input type="checkbox" name="med" option value="med" /> <label for="med"> Medium Roast 12oz.</label><br />
    <input type="checkbox" name="medbig" option value="medbig" /> <label for="medbig"> Medium Roast 12oz.</label><br />
    <input type="checkbox" name="dark" option value="dark" /> <label for="dark"> Dark Roast 12oz.</label><br />
    <input type="checkbox" name="darkbig" option value="darkbig" /> <label for="darkbig"> Dark Roast 12oz.</label><br />
    <input type="checkbox" name="filter" option value="filter" /> <label for="filter"> Organic Bamboo Filters 100 ct.</label><br />
    <input type="checkbox" name="cream" option value="cream" /> <label for="cream"> Free Range Goat Milk Half & Half 12oz.</label><br />
    <input type="checkbox" name="sugar" option value="sugar" /> <label for="sugar"> Dr. Rockzo's Rock Candy "Sugar" 3oz.</label><br />
    <input type="submit" />
</form>

