@{
    ViewData["Title"] = "Review";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Inventory

<h1>Review Order</h1>

@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}

<p>You bought @Model.ProductName for $@String.Format("{0:0.00}", Model.UnitPrice).</p>

<form>
    <input type="button" name="order" value="Order More" onclick="location.href='@Url.Action("Order","Home")'" />
    <input type="button" name="logout" value="Logout" onclick="location.href='@Url.Action("Logout","Home")'" />
</form>


